.DS_Store
.vscode/
.plastic
Temp/
build/
Library/
Logs/
obj/
Packages/
ProjectSettings/
UserSettings/
Assembly-CSharp.csproj
dungeon.sln
mono_crash.76186c5b2.0.json
*.meta
Assets/DOTween/
.vs/
.vsconfig
